* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(https://uploads.onecompiler.io/42ktzh5ve/43yrm4bs2/back.jpg);
    text-align: center;
    background-size: cover;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 400px;
    margin-left: 700px;
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
}

.auth-container {
    background: white;
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.auth-container h2 {
    color: #34495e;
    margin-bottom: 20px;
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccd6dd;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #005fcc;
}
